<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>portfolio | tee</title>

    <link href="https://unpkg.com/swiper@7/swiper-bundle.min.css" rel='stylesheet' />
    <link href='http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='../css/styles.css' />
    <link rel='stylesheet' href='../css/style.css' />



</head>

<body>

    <!--portfolio section-->

    <section class="portfolio" id="portfolio">
        <h2 class="heading"><span>Inventory Management System</span></h2>
        <hr />
        <footer class="footer">
            <div class="footer-text">
                <p>
                    Having a system to help you in the management of inventory(stock),products and customers
                    is one in a life time advantage from many business.The Inventory Management System, can do
                    such that.It helps you keep a record of products that are available in stock, the number of
                    customers and the number of orders per customer.Having this system will reduce your work load
                    significantly.
                </p>
                <br>
                <p>
                    The Inventory Management System can be used by any one, it has multiple pages that are easy to
                    navigate to with the help of the main page.The main page contains a link to each page that the
                    system
                    contains.These is one of the reasons why this system is so easy to use. You can just go from one
                    page
                    to another by a click of a button, and just like that your navigating through the pages.
                    The Inventory Management System is user-friendly, and it can be used by anyone.
                </p>
                <br>
                <p>
                    The Inventory Management System was developed using languages such as <span>Java</span>, and
                    <span>SQL</span> using <span>MySQL</span> as the DBMS(Database Management System) relational
                    database system.The serve used
                    is the Apache serve.With the help of one of the most used softwares by the name of
                    <span>xampp</span>. Xampp is a cross
                    platform software that helps with the management of relational databases.
                </p>
                <br>
                <p>
                    These system provides security, meaning that it can not be used by anyone.Every person that uses
                    this system has to have a username and a password, and not have one means that you will not have
                    access to any information that is stored using this system.On top of that it provides form
                    validation to prevent a person from
                    logging in using unknown credentials.
                </p>
            </div>
        </footer>
        <hr />
        <br />
        <br />
        <div class="portfolio-container">

            <!-- <div class="portfolio-box">
                <img src="../app/app/j1.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        This is the Login page,
                        whereby the user enters his/her credentials in order to proceed to the home page(Main page).</p>
                </div>
            </div> -->

            <div class="portfolio-box">
                <img src="../app/app/j2.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        The main purpose of this page is to help the user navigate easily throughout the
                        application, because this page has a link to each page in the application,this makes
                        it easy to navigate as the user only has to click the link to navigate to the next page.
                    </p>
                </div>
            </div>


            <div class="portfolio-box">
                <img src="../app/app/j3.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        The product page helps to manage all the products that are available.
                        This page has a product table, that shows a list of products in order,
                        and a new product can be added using the from next to the table.
                    </p>
                </div>
            </div>


            <div class="portfolio-box">
                <img src="../app/app/j4.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        The customer page helps to manage all the customers.
                        This page has a customer table, that shows a list of customers in order,
                        and a new customer can be added using the from next to the table.
                    </p>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="../app/app/j5.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        The category page helps to manage all the product category's.
                        This page has a category table, that shows a list of category's in order,
                        and a new category can be added using the from next to the table.
                    </p>
                </div>
            </div>


            <div class="portfolio-box">
                <img src="../app/app/j6.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        The user's page helps to manage all the user's of the system.
                        If a person has a password he/she is able to login, otherwise a
                        password has to be made. A new user can be added using the form next to the table.
                    </p>
                </div>
            </div>

            <div class="portfolio-box">
                <img src="../app/app/j7.png" alt="" />
                <div class="portfolio-layer">
                    <p>
                        The order page helps to manage all the orders.
                        This page has customer and product tables with data taken from the original tables.
                        Using this page you can add an order form a particular customer, and that order is
                        then taken to the order table.
                    </p>
                </div>
            </div>


            <!-- <div class='portfolio-box'>
                <img src="../app/app/j8.png" alt="" />
                <div class="portfolio-layer">
                    <p>
                        The orders table shows the orders made by a customer on a particular data.
                        It has the customer name, the data date and the Total cost of the order.
                        All data in this table is taken from the orders page.
                    </p>
                </div>
            </div> -->




        </div>
        <div class="download">
            <a href="../projects/New Folder.zip" class='btn' download>Download Project</a>
        </div>

    </section>


    <!--section two-->
    <section class="portfolio" id="portfolio">
        <h2 class="heading"><span>Electronics Management System</span></h2>
        <hr />
        <footer class="footer">
            <div class="footer-text">
                <p>
                    Electronics management system, is an important system/application to have especially
                    when your working with many customers.The system reduces paper work as it stores
                    everything on the database,because it stores data on the database it is not likely to lose such
                    data.
                    That is not all,this system also produces a printable slip/document that you can print and give to a
                    customer.The slip contains all the necessary information about the device. This system can help a
                    lot
                    people that are in the repair business.
                </p>

            </div>
        </footer>

         <div>
            
         </div>
         
<!--     
       <section class="services_container mySwiper" id="services">
        
            <div class="swiper-wrapper">
                <article class="logo_services swiper-slide">
                <div class="portfolio-box swiper-slide">
                 <div class="avatar">
                    <img src="../app/app/mobile1.png" class='imgs' alt="" />
                    <div class="portfolio-layer">
                        <p>
                            If there is data in the database, the table next to the form will retrieve it and display it.
                            because of this the system becomes more user friendly.
                        </p>
                    </div>
                    </div>
                </div> 
                </article>

                <article class="logo_services swiper-slide">
                    <div class="portfolio-box swiper-slide">
                     <div class="avatar">
                        <img src="../app/app/mobile2.png" class='imgs' alt="" />
                    <div class="portfolio-layer">
                        <p>
                            When the customer pays the amount due the system produces a printable slip,and the new data
                            is recorded in the database showing the new due amount as zero.The zero shows that the customer
                            has fully settled he/her debt.
                        </p>
                    </div>
                    </div>
                </div> 
                </article>

                <article class="logo_services swiper-slide">
                    <div class="portfolio-box swiper-slide">
                
                    
                  <div class="avatar">
                        <img src="../app/app/mobile5.png" class='imgs' alt="" />
                        <div class="portfolio-layer">
                            <p>
                                Every time a customer is recorded his/her data is displayed in the records table.
                                The process is the same for each customer that is to be recorded in the system.
                            </p>
                        </div>
                    </div>
                </div> 
                </article>
        
            </div>
            <div class="swiper-pagination"></div>
           
            </section> -->
            <div class="portfolio-container">
 
    
          <div class="portfolio-box">
                <img src="../app/app/mobile1.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        If there is data in the database, the table next to the form will retrieve it and display it.
                        because of this the system becomes more user friendly.
                    </p>
                </div>
            </div> 

            <div class="portfolio-box">
                <img src="../app/app/mobile2.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        When the customer pays the amount due the system produces a printable slip,and the new data
                        is recorded in the database showing the new due amount as zero.The zero shows that the customer
                        has fully settled he/her debt.
                    </p>
                </div>
            </div> 


            <div class="portfolio-box">
                <img src="../app/app/mobile5.png" class='imgs' alt="" />
                <div class="portfolio-layer">
                    <p>
                        Every time a customer is recorded his/her data is displayed in the records table.
                        The process is the same for each customer that is to be recorded in the system.
                    </p>
                </div>
            </div> 
        </div> 

        <div class="download">
            <a href="../projects/MobileRepairSystem.zip" class='btn' download>Download Project</a>
        </div>
    </section>
            






    <!--section two-->
    <!-- <section class="portfolio" id="portfolio">
        <h2 class="heading"><span></span></h2>
        <hr />
        <footer class="footer">
            <div class="footer-text">
                <p>
                    Flutter is one of the most powerful tools used in the development of mobile apps.
                    Being able to develop applications for both android and macOS. The following application
                    was developed using flatter version '3.7.2'. It is composed of three pages page one being the
                    welcome page, the second page is the student application page, and the third and the
                    last page is the leave application page.
                </p>
                <br />
                <p>
                    The welcome is made up of the school logo and two buttons.The buttons are used for
                    navigation,if you click the top button you'll be taken to the application form page,
                    clicking the second button means that you'll be taken to the second page being the leave
                    page.
                </p>
            </div>
        </footer>

        <hr />
        <br />
        <br />
        <br />
        <br />
        <div class="portfolio-container">

            <div class="portfolio-box">
                <img src="../app/app/lp3.png" class='imgs' style="height:50rem;" alt="" />
            </div>

            <div class="portfolio-box">
                <img src="../app/app/lp2.png" class='imgs' style="height:50rem;" alt="" />
            </div>


            <div class="portfolio-box">
                <img src="../app/app/lp1.png" class='imgs' style="height:50rem; " alt="" />
            </div>
        </div>
        <br />
        <br />
    </section> -->

    <!--footer design-->

    <footer class="footer" style="background-color:rgba(67, 67, 67, 0.689);">
       <!-- <i class='bx bx-moon' id="toggle-light"></i>-->
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Thato Maphalla | All Rights Reserved.</p>
        </div>

        <div class="footer-iconTop">
            <a href="../index.html"><i class='bx bx-left-arrow-alt'></i></a>
        </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>

    <!--typed js-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="../js/script.js" defer></script>

        
    <script>
        var swiper = new Swiper(".mySwiper",{
            slidesPerView:3,
            spaceBetween:30,
            pagination:{
                el:".swiper-pagination",
                clickable:true,
            },

            //BREAKPOINTS
            breakpoints:{
                600:{
                    slidesPerView:1,
                    // spaceBetween:30,
                }
            }
        });
    </script>

</body>

</html>
